@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* NAVBAR */
.navbar {
    background-color: rgba(255, 255, 255, 0.3);
    position: fixed;
    width: 100%;
    z-index:1
}

.navbar-nav {
    position: absolute;
    left: 97%;
    transform: translatex(-97%);
}

/* SECTION PRINCIPAL */
.section_principal {
    height: 100vh;
    background-image: url(../images/granosfondo.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-inline: 20%;
    color: white;

}

.section_principal h2 {
    padding: 0.5%;
    padding-inline: 8%;
    background-color: rgb(197, 165, 152);
    border-radius: 30px;
}

.section_principal p {
    background-color: rgba(148, 138, 138, 0.397);
    border-radius: 5px;
}

/* HOME */
.imgindex {
    background: url(../images/granosfondo.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}
.tarjetitas {
    background-color: rgb(197, 165, 152);
}

.card:hover {
    transform: scale(1.1) translateY(-5px);
    box-shadow: rgba(146, 136, 136, 0.3) 0px 19px 38px, rgba(102, 98, 98, 0.22) 0px 15px 12px;
}


/* NOSOTROS */
.section_nosotros {
    background-image: url(../images/barista.jpg);
    background-size: cover;
    min-height: 100vh;
    background-position: center;
}

.main_nosotros {
    background-color: rgb(221, 215, 213);
    padding-inline: 5%;
}

/* CAFE */
.container_cafe {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "tipocafe_1 tipocafe_2"
        "tipocafe_3 tipocafe_4";
    width: 100%;
    height: 100vh;


}

.container_cafe>div {
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 20px;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: rgb(114, 105, 79);
}

.tipocafe_1 {
    grid-area: tipocafe_1;
    background-image: url(../images/tipo\ cafe\ 1.webp);
    background-position: top;

}

.tipocafe_2 {
    grid-area: tipocafe_2;
    background-image: url(../images/tipo\ cafe\ 2.webp);
    background-position: top;


}

.tipocafe_3 {
    grid-area: tipocafe_3;
    background-image: url(../images/tipo\ cafe\ 3.webp);
    background-position: top;
}

.tipocafe_4 {
    grid-area: tipocafe_4;
    background-image: url(../images/tipo\ cafe\ 4.webp);
    background-position: top;
}


/* CONTACTO */
.section_contacto {
    background-image: url(../images/cafeteria.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.form_contacto  {
    background-color: rgba(255, 255, 255, 0.527);
    border-radius: 20px;
}

/* FOOTER */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
    background-color: rgb(240, 240, 240);
    gap: 20px;

}

.wpp {
    display: flex;
    width: 25px;
}

.insta {
    display: flex;
    flex-direction: row;
    width: 25px;
}

.wpp .insta {
    transition: all .3s;
}

.wpp:hover {
    transform: scale(1.1);
}

.insta:hover {
    transform: scale(1.1);
}


/* MEDIA QUERIES */
@media screen and (max-width: 480px) {
    .section_nosotros1 .section_nosotros2 {
        display: flex;
        flex-direction: row;
    }

}

