.footer-iconos {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 10vh;
    background-color: $colorSecundario;
    gap: 20px;
    justify-content: space-around;


    .icono-whatsapp {
        width: 20px;
        transition: all .3s;

        &:hover {
            transform: scale(1.1);
        }
    }

    .icono-aroma,
    .icono-instagram {
        @extend .icono-whatsapp
    }

    .icono-aroma {
        width: 70px;
    }
}

.texto-con-fondo {
    padding-bottom: 5%;
    padding-top: 5%;
    padding-inline: 20%;
    background-color: white;
    color: rgb(88, 87, 87);
    text-align: center;
    font-weight: 500;
}
