.footer-iconos {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
    background-color: rgb(240, 240, 240);
    gap: 20px;

    .icono-whatsapp {
        width: 25px;

        &:hover {
            transition: all .3s;
            transform: scale(1.1);
        }
    }
   
    .icono-aroma, .icono-instagram {
        @extend .icono-whatsapp
    }

    .icono-aroma {
        width: 75px;
    }
}

