.main_nosotros {
    padding: 2rem;

    .imagen-fundadora {
        width: 50%;
        object-fit: cover;
    } 
}

.manifiesto {
    margin-top: 5%;
    background-color: $colorSecundario;
    color:black;
    align-items: center;
} 