.main_nosotros {
    padding: 1rem;
    background-color: $colorSecundario;

    .manifiesto {
        background-color: rgb(156, 150, 143);
        padding: 1.5rem;
        min-width: 50%;
        color: rgb(230, 230, 230);
        font-weight: 500;
    } 

}