.navbar {
    background-color: $colorNavBar;
    position: fixed;
    width: 100%;
    z-index: 1
}

.navbar-nav {
    position: absolute;
    left: 97%;
    transform: translatex(-97%);


    $navitem: (active: rgba(206, 184, 160, 0.253));

    .nav-item:hover {
        background-color: map-get($navitem, active);
    }

}
