.section_principal {
    height: 95vh;
    background-image: url(../images/granosfondo.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-inline: 20%;
    color: white;

    h2 {
        padding: 0.5%;
        padding-inline: 8%;
        background-color: $colorPrincipal;
        border-radius: 30px;
    }

    p {
        background-color: rgba(148, 138, 138, 0.397);
        border-radius: 5px;
    }
}

.imgindex {
    background: url(../images/granosfondo.jpg);

}

.section_nosotros {
    background-color: $colorPrincipal;
    background-image: none;
}

main {
    background-color: rgb(221, 215, 213);
}

