.section_principal {
    min-height: 95vh;
    background-image: url(../images/granosfondo.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-inline: 20%;
    color: white;

    h2 {
        padding: 0.5%;
        padding-inline: 8%;
        background-color: $colorPrincipal;
        border-radius: 20px;
    }
}

.imgindex {
    background: url(../images/granosfondo.jpg)
}

.section_nosotros {
    background-image: url(../images/barista.jpg);
}

.section_contacto, .section_cafe {
    padding-top: 4rem;
    text-align: center;
    background-color: white;
    padding-inline: 20%;
    color: rgb(88, 87, 87);
    font-weight: 500;
}
