.texto-con-fondo {
    height: 50vh;
    background-image: url(../images/footer.jpg);
    background-size: cover;
    background-position: left;
    text-align: center;
    padding-inline: 20%;
    color: white;
}

.texto-con-fondo1 {
    height: 33vh;
    padding-top: 3.8rem;
    background-image: none;
    background-color: $colorPrincipal;
}