.texto-con-imagen {
    height: 95vh;
    background-image: url(../images/granosfondo.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-inline: 20%;
    color: white;
}