@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');

$tipoPrincipal: 'Roboto', sans-serif;
$colorPrincipal: rgba(197, 165, 152, 0.5);
$colorNavBar: rgba(255, 255, 255, 0.808);
$colorSecundario: rgb(221, 215, 213);
